.socialmedia {
    height: 20px;
    width: 22px;
}

.logo{
    height: 60px;
    width: 60px;
}

.cities,.hotels {
    height: 150px;
    width: 150px;;
}

body {
    height: 100%;
    width: 100%;
}

.hotel-details{
    height: 500px;
    width: 500px;
}