.hotel-details{
    /* height: 400px; */
    width: 500px;
    max-height: 350px;
    margin: 0 auto;
    margin-top: 1%;
    margin-bottom: 1%;
}

.carousel{
    height: 350px;
    width: 100%;
    margin: 0 auto;
    /* margin-top: 1%;
    margin-bottom: 1%; */
}

#slide-imgs{
  height: 350px;
  width: 450px !important;
  margin: 0 auto;
  /* margin-top: 1%;
  margin-bottom: 1%; */
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23bc8f8f' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e") !important;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23bc8f8f' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e") !important;
}

#form{
    /* margin: 0% 4% 1%; */
    display: flex;
    flex-direction: column;
}

#description {
    margin: 1% 2% 2%;
}

#img-form{
    max-height: 400px;
    border: 1px solid black;
    margin: 2%;
    display: flex;
}

#hotel-img {   
    display: flex;
    width: 75%;
    padding-top: 1%;
    padding-bottom: 1%;
}

#form {
    /* border: 1px solid black; */
    width: 25%;
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
}

/* input{
    width: 60%;
    float: right;
    margin-right: 5%;
}

label{
    margin-left: 5%;
    float: left;
} */

/* button{
    bottom: 0;
} */

#form-ul{
    list-style-type:none;
    padding:2%;
    display:flex;
    flex-direction:column;
    /* align-items: stretch; */
  }
  
  form{
    /* border:1px solid black;
    width:60%; */
  }
  
  #form-row{
    /* width:100%; */
    padding-top:4%;
    padding-bottom:4%;
    padding-left: 2%;
    padding-right: 2%;
  }
  
  #form-row > input{
    float:right;
    width:60%;
  }
  
  button{
    width:90px;
    height:35px;
    margin: 0 auto;
  }

  h5{
      font-family: cursive;
  }

  .score {
    display: block;
    font-size: 25px;
    position: relative;
    overflow: hidden;
  }
  
  .score-wrap {
    display: inline-block;
    position: relative;
    height: 19px;
  }
  
  .score .stars-active {
    color: #EEBD01;
    position: relative;
    z-index: 10;
    display: inline-block;
  }
  
  .score .stars-inactive {
    color: black;
  /*   position: absolute; */
    top: 0; 
    left: 0; 
  /*   -webkit-text-stroke: initial;  */
  /*   overflow: hidden; */
  }

  