#search-bar-div {
    background-image: url('https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg');
    height: 380px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#search-bar {
    /* width: 50px; */
    margin-left: 550px;
    margin-top: 190px;
    border: 1px solid transparent ;
    border-radius: 12px;
    background-color: #f1f1f1;
    padding-left: 10px;
    font-size: 16px;
    padding: 10px 200px 10px 10px;
    text-align: left;
    /* width: 100%; mandatory */
    /* vertical-align: middle; */
}

#content-div{
    position: relative;
}

#city-cards {
    justify-content: space-evenly;
    margin-left: 15%;
    /* margin-right: 15%; */
}

#viewmore {
    margin-left: 685px;
    color: black;
    /* justify-content: center; */
    
}

.cities {
    padding: 4%;
    border-radius: 25%;
}


