.hotels-list {
    /* margin:2%;
    width: 40%; */
    background-color: rgb(132,136,139);
}

.hotels-list > p {
    margin-left: inherit;
}

#view-types {
    /* margin: 0% 45%; */
}

#map-view {
    display: none;
}

#list-view-bt {
    margin-left: 45%;
    margin-right: 5%;
}

#list-view-table {
    width:100%;
}

td {
    padding: 35px;
}




